body, html, *, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width:100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    font-size: x-large;
    background-color: black;
    color: white;
}

nav {
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: medium;
}

body a {
    text-decoration: none;
    color: black;
}

body a:hover {
    color: rgb(176,224,230);
}

.container {
    max-width: 1200px;
    margin: auto;
}


.noticias {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;   
}

.manchete {
    width: 30%;
}

.manchete img {
    width: 100%;
}

.manchete h1 {
    font-size: medium;
    line-height: 1.5rem;
}

.container2 {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%; 
    margin-left: 8%;   
}

.lateral {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4%;
}

.lateral img {
    width: 70%;
}

.lateral h2 {
    font-size: 1rem;
    margin-left: 5px;
}

section {
    width: 40%;
}

section h3 {
    margin-top: 2%;
    text-align: center;
}

section img {
    width: 100%;
}