.login {
  width: 30%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: rgba(255,245,238);
}

.login h1 {
  color: rgba(255,69,0);
}

.form {
  margin-bottom: 20px;
  text-align: initial;
  margin-left: 5%;
}

.form label {
  font-weight: bold;
  margin-right: 2%;
  color: rgba(255,69,0);
}

.form input {
  border: 1px solid rgba(255,69,0);
  border-radius: 4px;
  padding: 5px;
}

.form input:focus {
  outline: none;
  background-color: rgba(255,218,185);
}

.formulario button {
  background-color: rgba(255,127,80);
  border: 1px solid rgba(255,127,80);
  padding: 5px 20px;
  color: white;
  border-radius: 8px;
}

.formulario button:hover {
  cursor: pointer;
  background-color: rgba(152, 251, 152, 0.774);
  border: 1px solid rgba(152, 251, 152, 0.774);
}

