@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html, ul, l, * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

.cabecalho {
    display: flex;
    background-color: #1A75C1;
    align-items: center;
    justify-content: space-between;
    height: 8%;
}

form {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    color: white;
    
}

input {
    border-radius: 15px;
    border: none;
    padding: 0.5%;
    margin-left:0.5%;
    color: #E5E5E5;
}

form input .name {
    width: 40%;
}

input::placeholder {
    color: #E5E5E5;
}

form input .data {
    margin-left: 0.5%; 
    color: white;
}

.user img {
    width: 2%; 
    margin-right: 2%;
}

.container {
    max-width: 100%;
    display: flex;
}

main {
    background-color: #F5F5F5;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

main h1 {
    text-align: center;
    font-size: 3rem;
    color: #1A75C1;
    margin-top: 2%;
    margin-bottom: 1%;
}

main a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #1A75C1;
    margin-left: 7%;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
}

.noticias .legenda {
    width: 30%;
    margin-bottom: 3%;
    margin-top: 1%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticias .legenda img {
    max-width: 70%;
}

.legenda > a {
    margin: 0;
    width: 64%;
    padding: 3%;
    text-decoration: none;
    font-size: 0.8rem;
    background-color: white;
    text-align: center;
    color: #595959;
    box-shadow: rgba(58, 56, 56, 0.192) 2px 2px 2px;
}

.legenda a:hover {
    background-color: #1A75C1;
    color: white;
}

main button {
    margin: auto;
    margin-top: 4%;
    border: none; 
    background-color: #F5F5F5;
    width: 30%;
}

main button a {
    background-color: #F5F5F5;
    font-size: 1.5em;
    color: #847E7E;
}

main button a:hover {
    color: #595959;
}

aside {
    width: 30%;
    margin-left: 6%;
}

aside h2 {
    font-size: 1.5rem;
    color: #1A75C1;
    margin-top: 10%;
    margin-bottom: 5%;
}

aside h3 {
    font-size: 0.8rem;
    color: #1A75C1;
    margin-bottom: 2%;
}

.aniversario {
    display: flex;
    justify-content: space-between;
}

.aniversario img {
   margin-top: 1%;
   width: 15%;
   height: 15%;
   margin-right: 3%;
}

.aniversario h4 {
    font-size: 0.7rem;
    color: #1A75C1;
    line-height: 1.2rem;
}

.aniversario h4 a {
    text-decoration: none;
} 

.aniversario button {
    background-color: #1A75C1;
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px 13px;
    font-size: 0.6rem;
    color: white;
    margin-top: 8%;
}

.aniversario button:hover {
    cursor: pointer;
    background-color: white;
    color: #1A75C1;
    border: 1px solid #1A75C1;
}

aside textarea {
    resize: none;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 4% 0; 
}

textarea::placeholder {
    color: #E0E0E0;
}

aside > button {
    background-color: #1A75C1;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 30%;
}

aside > button:hover {
    cursor: pointer;
    background-color: white;
    color: #1A75C1;
    border: 1px solid #1A75C1;
}

footer {
    box-shadow: rgba(58, 56, 56, 0.192) 2px -5px 5px;
}

nav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 1.3%;
}

nav a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #595959;
}

nav a .fas , .far {
    color: #1A75C1;
    margin-right: 2px;
}

nav a:hover {
    color: #1A75C1;
}


